.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  text-transform: capitalize;

  > button {
    border: 0;
    outline: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    padding: 1rem 0;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      color: #ffffff;
      // background-color: #ffffff;
    }
  }
}

.card-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;

  > span {
    text-align: center;
  }
}

.descriptions {
  display: flex;
  flex-direction: column;

  > .pokemon-types {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10%;

    > span {
      border-radius: 100rem;
      background-color: hsla(0, 0%, 100%, 0.2);
      padding: 0.3rem 0.7rem;
      text-align: center;
      margin-bottom: 0.5rem;
      text-transform: capitalize;
      font-weight: bold;
    }
  }

  > .Height-Weight {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
}

.pokemon-image {
  // z-index: 1;
  // display: flex;
  padding: 6% 3%;
  align-self: flex-start;
  // width: 50%;
  height: 90%;
  overflow: hidden;

  > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
  }
}
