.load-more-button {
  background: linear-gradient(rgb(21, 26, 55) 0%, rgba(21, 26, 55, 0) 100%);
  border: 1px solid rgb(36, 41, 63);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-top: 2rem;

  &:hover {
    cursor: pointer;
  }
}

.load-more-button.loading {
  opacity: 0.5;
}
