.modal {
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0 1rem;
  top: 0;
  // bottom: 0;
  left: 0;
  // right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  z-index: 100;

  @media screen and (max-width: 702px) {
    align-items: start;
  }
}

.hide {
  opacity: 0;
}

.modal-grid {
  background: rgba(6, 11, 40, 0.15);
  border: 1px solid transparent;
  border-radius: 1.5rem;
  display: grid;
  position: relative;
  z-index: 1000;
  grid-template-columns: auto auto minmax(20rem, 30rem);

  animation: pull-up-center 0.3s ease-out both;

  @keyframes pull-up-center {
    0% {
      transform: translateY(50%) translatey(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0) translateX(0%);
      opacity: 1;
    }
  }

  @media screen and (max-width: 702px) {
    width: 100%;
    grid-template-columns: 1fr;
    margin: 14rem 1rem 7rem;
  }
}

.card-modal {
  padding: 1rem 1rem;
}

.pokemon-image-modal {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    width: 80%;
    height: auto;
  }
}

.line {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    background: rgba(255, 255, 255, 0.25);
    margin: 0px auto;
  }

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    background: rgba(255, 255, 255, 0.25);
    margin: 0px auto;
  }

  @media screen and (max-width: 702px) {
    flex-direction: row;
    align-items: center;

    &::before {
      width: 100%;
      height: 1px;
    }
    > svg {
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
    }

    &::after {
      width: 100%;
      height: 1px;
    }
  }
}

.pokemon-stats {
  padding: 2.5rem 1rem 2.5rem 2.5rem;

  > span {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 400;
    display: block;
    margin-bottom: 1rem;
  }

  > ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;

    > li {
      display: flex;
      align-items: center;

      > span {
        font-size: 1rem;
        line-height: 1;
        font-weight: 400;
        display: inline-block;
      }

      & span:nth-child(1) {
        min-width: 4.38rem;
      }

      & span:nth-child(2) {
        min-width: 1.88rem;
        margin: 0px 1.25rem;
        font-weight: 700;
        text-align: center;
      }

      > div {
        width: 100%;
        border-radius: 0.25rem;
        background: rgb(85, 85, 85);
        backface-visibility: hidden;
        transform: translate3d(0px, 0px, 0px);
      }
    }
  }

  .range-view {
  }
}

.btn-close {
  background: transparent;
  position: absolute;
  border: none;
  outline: 0;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  > svg {
    width: 3rem;
    height: 3rem;
  }
}
