.searchBox {
  position: relative;
  width: 600px;
  /* background: #fff; */
  margin: 200px auto 0;
  border-radius: 5px;
  background: #262a2f;
  /* color: #333; */
  color: #fff;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  /* color: #333; */
  color: #fff;
}

.button {
  background: transparent;
  border: 0;
  outline: 0;
}

.resultsBox {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 32px);
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  background: inherit;
  color: inherit;
}

.li:hover {
  background: #e9f3ff;
  color: #262a2f;
}
