.loader-spinner {
  border: 0;
  outline: none;
  position: absolute;
  animation: animated-spinner 2s ease infinite;
  justify-self: center;
  align-self: center;

  > .fa-solid,
  .fa-spinner {
    color: #ffffff;
    font-size: 6rem;
  }
}

@keyframes animated-spinner {
  100% {
    rotate: 360deg;
  }
}
