@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: rgb(6, 11, 40);
  color: #ffffff;
}

.wrapper {
}

.form-btn {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "HomeButton ."
    "SearchFilter SearchField";

  align-items: end;
  gap: 1.5rem 2rem;
  margin: 4.5rem 0px;
  border-bottom: 1px solid rgb(36, 41, 63);
  padding-bottom: 2.19rem;

  @media screen and (max-width: 702px) {
    grid-template-columns: 100% 100% 100%;
    grid-template-areas:
      "HomeButton"
      "SearchFilter"
      "SearchField";
  }
}

.main-container {
  max-width: 78rem;
  padding: 0px 1rem;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.pokedex-container {
  margin-top: 3rem;
  display: flex;
  min-height: 390.188px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  > .container-only-pokemon {
    flex: 0 1 25rem;
    height: 383.188px;
    > p {
      text-align: center;
    }
  }

  > .container-card {
    flex: 1 0 19rem;
    height: 260.188px;
  }
}

.button-container {
  margin: 0 auto;
  width: fit-content;
}

::-webkit-scrollbar {
  width: 8px;
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background-color: #0083b0;
  border-radius: 8px;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  overflow: hidden;
  background-color: #111;
}
