* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background: #262a2f;
  color: #333;
} */

.pokedex-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}

.load-more-button {
  /* justify-self: baseline; */
  /* align-self: flex-end; */
}
